<h1>Cards</h1>

Our collection has <%= Card.public_count %> cards and counting!

<ul>
    <% @cards.each do |card| %>
        <% unless card.archived? %>
            <li>
                <%= link_to card.name, card %>
            </li>
        <% end %>
    <% end %>
</ul>

<%= link_to "New Card", new_card_path %>